<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKSharingSupported</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.streamcue.nightlyRefresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>nflx</string>
		<string>aiv</string>
		<string>disneyplus</string>
		<string>hulu</string>
		<string>hbomax</string>
		<string>paramountplus</string>
		<string>videos</string>
		<string>peacocktv</string>
		<string>youtube</string>
	</array>
</dict>
</plist>
